<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">

<head>
	<!-- Este titulo se mezcla con el puesto en el otro -->
   <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Repartidores 3</title>
   
   <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
   <!-- Esta linea es para que el contenido se escale correctamente en cada dispositivo -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
	<link rel="stylesheet" type="text/css" href="#" th:href="@{/css/content_styles.css}">

</head>
<body>

        <section layout:fragment="custom-content">
          <p>Por si no funciona el layout custom footer</p>
        </section>
	
          
</body>
</html>