<!DOCTYPE html>
<html lang="es-ES"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="/aaa_layouts/repartidor/layout_repartidor">
      

<head>
<title>Entrada y mapa con Reparto</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/GoogleMaps.css}">
  <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/retoques.css}">
</head>

<body>
 
 <section layout:fragment="custom-content" class="document__content">
  				
	<h1 th:text="'Ruta: '+${repartidor.getUser().getUsername()}"></h1>
	<div th:switch="${puntosDeLaRuta==null}">
		    <div th:case="true" class="retoque-tabla">
		    	<p>NO HAY NINGUN PEDIDO PARA REPARTIR</p>
		    </div>
		    <div th:case="false" class="retoque-tabla">
		  			<!-- Parte del mapa que enseña los puntos -->
		  			<div id="contenedor-del-mapa"></div>
					<br><br>
					<!-- Esta es la informacion de cada punto -->
					<div id="informacion-adiccional">
					</div>  
					
					<!-- crear una parte para que se vean los productos cuando
						la propiedad lista_de_productos_necesaria no es null
						
						ya que el script no admite que le pase listas
						lo hago de esta manera. Pasando la lista por el controlador
						y enseñandola aqui
					-->

					<div th:switch="${pedido_seleccionado != null}">
					    <div th:case="false" class="retoque-tabla">
					    	<p>No hay datos seleccionados</p>
					    </div>
					    <div th:case="true">
							<div class="retoque-tabla">
					 			 <table class="table table-hover">
								   <thead>
					                    <tr>
					                        <td>Nombre Producto</td>
					                        <td>Cantidad</td>
					                        <td>Precio base</td>
					                        <td>Descuento</td>
					                    </tr>
					                </thead>
					                <tbody>
					               		<tr th:each="linea : ${pedido_seleccionado.listaLineas}" class="pedido">
					                     <td th:text="${linea.producto.nombre}"></td> 
					                     <td th:text="${linea.candidad}"></td> 
					                     <td th:text="${linea.producto.precio_producto}"></td> 
					                     <td th:text="${linea.producto.descuento}"></td> 
					                	</tr>
					                </tbody>
					            </table>
					        </div>
					    </div>
					  </div>
					
										
					<script th:src="@{https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyApwAN0oIELXbhbqji-3m0jJ7ktyiiMLDM}"></script>
					<script th:src="@{/js/GoogleMaps.js}"></script>
					<script th:inline="javascript">
					    const puntoInicial = {lat: [[${latitud}]], lng: [[${longitud}]]};
					    const mapa = new Mapa(puntoInicial);
					    [# th:each="punto : ${puntosDeLaRuta}"]
					        var coordenadasDelPunto = {lat: [[${punto.getPuntoReparto().getCoordenadasLatitud()}]],
					    		lng: [[${punto.getPuntoReparto().getCoordenadasLongitud()}]]};
					        mapa.ponerMarcador(
					        		coordenadasDelPunto, 
					        		[[${punto.getPuntoReparto().getNombre_cliente()}]],
					        		[[${punto.getId()}]],
					        		[[${punto.getFechaPedido().toString()}]],
					        		[[${punto.getPuntoReparto().getDireccion()}]],
					        		[[${punto.getPuntoReparto().getPoblacion().getCodigoPostal()}]],
					        		[[${punto.getPuntoReparto().getPoblacion().getNombreLocalizacion()}]],
					        		[[${punto.getPrecio_total()}]],
					        		[[${punto.getObservaciones()}]]
					        );
					        
					        mapa.anadirUnPuntoALaRuta(
					        		coordenadasDelPunto,
					        		[[${punto.getPuntoReparto().getNombre_cliente()}]],
					        		[[${punto.getPuntoReparto().getApellidos_cliente()}]]);
					    [/]
					
					</script>
										
					
		    </div>
	</div>

</section>

</body>

</html>