<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/layout_general">

<head> 
    <title>Registro de Admin</title> 
</head>
<body>
 	
 	<section layout:fragment="custom-content">	
		
		  <!-- Background image -->
    <div>
      <div>
        <div>
          <h2>Register</h2>
		
		<form action="/register/procesar"  autocomplete="off" method="post">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div>            
              <div>
                <div>
                   <input type="text" id="username" name="username" autocomplete="new-password" required
		               placeholder="Enter username">
                  <label for="username">Username</label>
                </div>
              </div>
              <div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Enter password" required
		               autocomplete="new-password">
                  <label for="password">Password</label>
                </div>
              </div>
            </div>
            
          	<button type="submit"  name="action"  value="registro_cliente">Registrar cliente</button>
		</form>
		<form method="post" action="#" th:action="@{/login}" autocomplete="off">
			<button type="submit" name="action"  value="exit">Volver a login</button>
		</form>
                
        </div>
      </div>
    </div>
	</section>
</body>
</html>