<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/admin/layout_admin">

<head> 
    <title>Asignar Pedidos</title> 
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/retoques.css}">
</head>
<body>

    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    </header>
    
       
   <section layout:fragment="custom-content" class="document__content">
  			<!-- aqui escribimos todo lo que va en el contenido -->
  
   <div class="container py-5 h-100">
   	<div class="row d-flex justify-content-start h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
 		
  
  		<form method="post" action="#" th:action="@{/admin/procesarAsignacionRepartidor}" autocomplete="off">
		    
		   	<label>Seleccionar Repartidor</label>
					      
		    
		  	<div th:switch="${repartidor_elegido==null}">
			    <div th:case="true">
			    	<div class="form-group">
					     <select name="idRepartidor">
				      		<option value="default"> </option>
				    		<option th:each="repartidores: ${lista_repartidores}" 
				    		th:value="${repartidores.getId().toString()}"
				    		th:text="${repartidores.getNombre()}+' '+${repartidores.getApellidos()}"/>
				        </select>
				  	</div>
				</div>
			    <div th:case="false">
					<div class="form-group">
					     <select name="idRepartidor">
				      		<option th:text="${repartidor_elegido.getNombre()}+' '+${repartidor_elegido.getApellidos()}" th:value="${repartidor_elegido.getId().toString()}"> </option>
				    		<option th:each="repartidores: ${lista_repartidores}" 
				    		th:value="${repartidores.getId().toString()}"
				    		th:text="${repartidores.getNombre()}+' '+${repartidores.getApellidos()}"/>		
				        </select>
				  	</div>	
				</div>
			</div>	
			
			<div>
  				<button type="submit" class="btn btn-primary  ">Asignar Repartidor</button>	
  				<br>
  			</div>		

		</form>
		  
		  
		<form method="post" action="#" th:action="@{/admin/procesarAsignacion}" autocomplete="off">
		    
	 		<div th:switch="${mapa.get('ESTADO_EN_ESPERA_DE_MANDAR').isEmpty()}">
			    
			    <h1>Pedidos</h1>
			    
			    <div th:case="true" class="retoque-tabla">
			    	<p>No ha pedidos para asignar</p>
			    </div>
			    <div th:case="false">
			       <div class="retoque-tabla">
				       <table class="table table-hover">
			                  <thead>
			                      <tr>
			                          <td></td>
			                          <td></td>
			                 		  <td></td>
			                      </tr>
			                  </thead>
			                  <tbody>
			                 		<tr th:each="pedido : ${mapa.get('ESTADO_EN_ESPERA_DE_MANDAR')}">
			                  			 <td th:text="${pedido.getPuntoReparto().getDireccion()}"></td> 
			                             <td th:text="${pedido.getPuntoReparto().getNombre_cliente()}+ ' ' + ${pedido.getPuntoReparto().getApellidos_cliente()}"></td> 
			                             <td>
												<button type="submit" class="btn btn-primary "  
												name="idPedido"
												th:value="${pedido.getId().toString()}"
												>Asignar</button>			                      	       
	
			                             </td>
			                     	</tr>
			                  </tbody>
			              </table>
			         </div>
			    </div>
			</div>	

		</form>


	</div>
	<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
		    

		<h1>Pedidos Asignados al repartidor</h1>

		<form method="post" action="#" th:action="@{/admin/terminarAsignacion}" autocomplete="off">
		 	
		 	<div th:switch="${repartidor_elegido==null}">
			    <div th:case="true">
			    	<p>No hay Repartidor seleccionado</p>
			    </div>
			    <div th:case="false">	
					<h2 th:text="${repartidor_elegido.getNombre()}+' '+${repartidor_elegido.getApellidos()}"></h2>
					<button type="submit" class="btn btn-success" 
							id="repartidor_que_va_ha_repartir" 
							name="repartidor_que_va_ha_repartir"
							th:value="${repartidor_elegido.getId()}">Empezar Reparto</button>	
				</div>
			</div>	
		</form>	


		<form method="post" action="#" th:action="@{/admin/procesarDesagsignacion}" autocomplete="off">
		   			
			
			<!-- Tabla con la ruta reparto completa aqui -->
			
			<div th:switch="${mapa.get('ESTADO_EN_ESPERA_DE_EMPEZAR_REPARTO').isEmpty()}">
			    <div th:case="true">
			    	<p>No hay pedidos asignados</p>
			    </div>
			    <div th:case="false" >
			    	<div class="retoque-tabla">

				       <table class="table table-hover">
			                  <thead>
			                      <tr>
			                          <td></td>
			                          <td></td>
			                 		  <td></td>
			                      </tr>
			                  </thead>
			                  <tbody>
			                 		<tr th:each="pedido : ${mapa.get('ESTADO_EN_ESPERA_DE_EMPEZAR_REPARTO')}">
			                  			 <td th:text="${pedido.getPuntoReparto().getDireccion()}"></td> 
			                             <td th:text="${pedido.getPuntoReparto().getNombre_cliente()}+ ' ' + ${pedido.getPuntoReparto().getApellidos_cliente()}"></td> 
			                             <td>
												<button type="submit" class="btn btn-danger " 
												name="idPedido"
												th:value="${pedido.getId().toString()}"
												> Desasignar</button>	
			                             </td>
			                     	</tr>
			                  </tbody>
			              </table>
			        </div>
			    </div>
			</div>	
		</form>	
	
	</div>
	</div>
	</div>

	</section>


</body>


</html>
