<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/admin/layout_admin">
<head> 
    <title>Consultar clientes</title> 
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/retoques.css}">
</head>
<body>

    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    </header>
    
       
   <section layout:fragment="custom-content" class="document__content">
  			<!-- aqui escribimos todo lo que va en el contenido -->

			<h2>Consultar Clientes</h2>

			<div>
			    <a href="/admin/crearCliente" class="btn btn-success">+ CREAR CLIENTES</a>                 
			</div>

	 		<div th:switch="${listaClientes.isEmpty() || listaClientes==null}">
	 			
	 			<div th:case="true">
	 				<p>No hay clientes Actualmente</p>
	 			</div>
	 			
			    <div th:case="false">
			       <div class="retoque-tabla">
				       <table class="table table-hover">
			                  <thead>
			                      <tr>
			                          <td>Id Usuario</td>
			                          <td>Nombre</td>
			                 		  <td>Apellidos</td>
			                 		  <td>TLF</td>
			                          <td></td>
			                 		  <td></td>
			                      </tr>
			                  </thead>
			                  <tbody>
			                 		<tr th:each="cliente : ${listaClientes}">
			                  		<td th:text="${cliente.id}"></td> 
			                  		<td th:text="${cliente.nombre_cliente}"></td>
			                  		<td th:text="${cliente.apellidos_cliente}"></td>
			                  		<td th:text="${cliente.tlf1_cliente}"></td>    
		                            <td>
		                      	       <a th:href="'/admin/editarCliente/'+${cliente.id}" class="btn btn-primary">Editar</a>
		                            </td>
		                            <td>
	                            		<div th:switch="${cliente.getUser().isEstaActivo()}">
								 			<div th:case="true">
								 				<a th:href="'/admin/desactivar_Cliente/'+${cliente.id}" class="btn btn-danger">Desactivar</a>
								 			</div>
										    <div th:case="false">
										    	<a th:href="'/admin/activar_Cliente/'+${cliente.id}" class="btn btn-success">Activar</a>
										    </div>
									    </div>
		                            </td>
			                     </tr>
			                  </tbody>
			              </table>
			         </div>
			    </div>
			</div>	
		
	</section>


</body>


</html>
