<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/admin/layout_admin">

<head> 
    <title>Consultar Pedidos</title> 
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/retoques.css}">
</head>
<body>

    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    </header>
    
       
   <section layout:fragment="custom-content" class="document__content">
  			<!-- aqui escribimos todo lo que va en el contenido -->


<!--  FALTA HACER RESPONSIVE LA PARTE DE VER EL PEDIDO EN ADMIN (ESTA)
-->

<!-- Enseñarlo agrupado aqui -->
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-start h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
 		
 		<div th:switch="${mapa.get('ESTADO_EN_ESPERA_DE_MANDAR').isEmpty()}">
		    <div th:case="false">
		    	<h1>En espera</h1>
	    			<div class="retoque-tabla">
		                <table class="table table-hover">
		                  <thead>
		                      <tr>
		                          <td></td>
		                          <td></td>
		                 			<td></td>
		                      </tr>
		                  </thead>
		                  <tbody>
		                 		<tr th:each="pedido : ${mapa.get('ESTADO_EN_ESPERA_DE_MANDAR')}">
		                  			 <td th:text="${pedido.getPuntoReparto().getDireccion()}"></td> 
		                             <td th:text="${pedido.getPuntoReparto().getNombre_cliente()}+ ' ' + ${pedido.getPuntoReparto().getApellidos_cliente()}"></td> 
		                             <td>
		                      	       <a th:href="'/admin/verPedido/'+${pedido.id}" class="btn btn-primary">Ver</a>
		                             </td>
		                     	</tr>
		                  </tbody>
		              </table>
	           	 </div>
		    </div>
		</div>	
		<div th:switch="${mapa.get('ESTADO_EN_CAMINO').isEmpty()}">
		    <div th:case="false">
		    	<h1>En camino</h1>
			    <div class="retoque-tabla">
			       <table class="table table-hover">
		                  <thead>
		                      <tr>
		                          <td></td>
		                          <td></td>
		                 			<td></td>
		                      </tr>
		                  </thead>
		                  <tbody>
		                 		<tr th:each="pedido : ${mapa.get('ESTADO_EN_CAMINO')}">
		                  		 	 <td th:text="${pedido.getPuntoReparto().getDireccion()}"></td> 
		                             <td th:text="${pedido.getPuntoReparto().getNombre_cliente()}+ ' ' + ${pedido.getPuntoReparto().getApellidos_cliente()}"></td> 
		                             <td>
		                      	       <a th:href="'/admin/verPedido/'+${pedido.id}" class="btn btn-primary">Ver</a>
		                             </td>
		                     	</tr>
		                  </tbody>
		              </table>
		         </div>
		    </div>
		</div>	
		<div th:switch="${mapa.get('ESTADO_ENTREGADO').isEmpty()}">
			    <div th:case="false">
			    	<h1>Entregado</h1>
			    	<div class="retoque-tabla">
				       <table class="table table-hover">
			                  <thead>
			                      <tr>
			                          <td></td>
			                          <td></td>
			                 			<td></td>
			                      </tr>
			                  </thead>
			                  <tbody>
			                 		<tr th:each="pedido : ${mapa.get('ESTADO_ENTREGADO')}">
			                  			 <td th:text="${pedido.getPuntoReparto().getDireccion()}"></td> 
			                             <td th:text="${pedido.getPuntoReparto().getNombre_cliente()}+ ' ' + ${pedido.getPuntoReparto().getApellidos_cliente()}"></td> 
			                             <td>
			                      	       <a th:href="'/admin/verPedido/'+${pedido.id}" class="btn btn-primary">Ver</a>
			                             </td>
			                     	</tr>
			                  </tbody>
			              </table>
			    	</div>
				</div>
			</div>	
			<div th:switch="${mapa.get('ESTADO_CANCELADO').isEmpty()}">
			    <div th:case="false">
			    	<h1>Cancelado</h1>
			    	<div class="retoque-tabla">
				       <table class="table table-hover">
		                  <thead>
		                      <tr>
		                          <td></td>
		                          <td></td>
		                 			<td></td>
		                      </tr>
		                  </thead>
		                  <tbody>
		                 		<tr th:each="pedido : ${mapa.get('ESTADO_CANCELADO')}">
		                  			 <td th:text="${pedido.getPuntoReparto().getDireccion()}"></td> 
		                             <td th:text="${pedido.getPuntoReparto().getNombre_cliente()}+ ' ' + ${pedido.getPuntoReparto().getApellidos_cliente()}"></td> 
		                             <td>
		                      	       <a th:href="'/admin/verPedido/'+${pedido.id}" class="btn btn-primary">Ver</a>
		                             </td>
		                     	</tr>
		                  </tbody>
			            </table>
		        	</div>
			    </div>
			</div>	
 		</div>
		<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
		    <!-- https://stackoverflow.com/questions/13494078/how-to-do-if-else-in-thymeleaf -->
		    
		    <div th:switch="${puntoReparto != null}">
			    <div th:case="false">
			    	<p>No hay datos seleccionados</p>
			    </div>
			    <div th:case="true">
				    <div class="mt-5 p-4 bg-primary text-white rounded">
				        <div>
				        	<h2 th:text="'Pedido '+ ${pedido.id}" ></h2>
					    </div>
					       <div>
					        <label th:text="${pedido.fechaPedido}"></label>
					    </div>
					    <div>
					        <label th:text="${puntoReparto.direccion}"></label>
					    </div>
					    <div>
					        <label th:text="${puntoReparto.poblacion.codigoPostal}+' , '+${puntoReparto.poblacion.nombreLocalizacion}">,</label>
					       
					    </div>
			
						<div class="retoque-tabla">
			 			   <table class="table table-hover">
							   <thead>
				                    <tr>
				                        <td>Nombre Producto</td>
				                        <td>Cantidad</td>
				                        <td>Precio base</td>
				                        <td>Descuento</td>
				                    </tr>
				                </thead>
				                <tbody>
				                
				               		<tr th:each="linea : ${pedido.listaLineas}" class="pedido">
				                     <td th:text="${linea.producto.nombre}"></td> 
				                     <td th:text="${linea.candidad}"></td> 
				                     <td th:text="${linea.producto.precio_producto}"></td> 
				                     <td th:text="${linea.producto.descuento}"></td> 
				                	</tr>
				                </tbody>
			            	</table>
						</div>
			
					    <div>
			                <label for="precio">Precio Total: </label>
			                <input class="form-control z-depth-1" id="precio" type="text" th:value="${pedido.precio_total}+ '  Euros' " readonly="readonly">
			            </div>
					
					
						<div class="form-group shadow-textarea">
						 	<label for="observaciones">Observaciones: </label>
			
							<textarea id="observaciones"
							          rows="3" class="form-control z-depth-1" readonly name="observaciones" 
							     	  th:text="${pedido.observaciones}">
							</textarea>
						</div>	
						
					</div>  
			    </div>
			  </div>
			</div>
		</div>      
	</div>		    

		
	</section>


</body>


</html>
