<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/admin/layout_admin">

<head> 
    <title>Entrada</title> 
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/retoques.css}">
</head>
<body>

    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    </header>
    
       
   <section layout:fragment="custom-content" class="document__content">
  			<!-- aqui escribimos todo lo que va en el contenido -->

		
		
    <h1>Admin Dashboard</h1>
    <div class="d-flex justify-content-left">
    	<a href="/admin/asignarPedidos" class="btn btn-primary">Asignar Pedidos</a>
	</div>
    <div class="container">
    	<div class="row g-3">
    		<div class="col-12 col-md-6 col-lg-4">
		        <div class="card" style="width: 18rem;">
		            <p class="card-text" th:text="${num_pedidos}" />
		            <p class="card-text">Total Pedidos</p>
		            <div class="card-header">
		                <a href="/admin/consultarPedidos">
		                    More info <img src="https://picsum.photos/20/20" alt="image icono">
		                </a>
		            </div>
		        </div>
		     </div>
			<div class="col-12 col-md-6 col-lg-4">
		      <div class="card" style="width: 18rem;">
		            <p class="card-text" th:text="${num_clientes}" />
		            <p class="card-text">Total Clientes</p>
		            <div class="card-header">
		                <a href="/admin/consultarClientes">
		                    More info <img src="https://picsum.photos/20/20" alt="image icono">
		                </a>
		            </div>
		        </div>
		    </div>
		    <div class="col-12 col-md-6 col-lg-4">
		        <div class="card" style="width: 18rem;">
		            <p class="card-text" th:text="${num_repartidores}" />
		            <p class="card-text">Total Repartidores</p>
		            <div class="card-header">
		                <a href="/admin/consultarRepartidores">
		                    More info <img src="https://picsum.photos/20/20" alt="image icono">
		                </a>
		            </div>
		        </div>
		    </div>
		    <div class="col-12 col-md-6 col-lg-4">
		        <div class="card" style="width: 18rem;">
		            <p class="card-text" th:text="${num_quejas}" />
		            <p class="card-text">Total Quejas</p>
		            <div class="card-header">
		                <a href="/admin/consultarQuejas">
		                    More info <img src="https://picsum.photos/20/20" alt="image icono">
		                </a>
		            </div>
		        </div>
        	</div>
        </div>
    	<div class="row g-3">

	    	<div class="col-12 col-md-6 col-lg-4">
		        <div class="card" style="width: 18rem;">
		            <img class="card-img-top" src="https://picsum.photos/200/100" alt="IMg clientes">
		            <div class="card-body">
			            <p class="card-text">Gestionar Clientes</p>
			            <p class="card-text">Crear,Editar,Borrar</p>
			            <a href="/admin/consultarClientes" class="btn btn-primary">Ir a clientes</a>
		            </div>
		        </div>
		    </div>
			<div class="col-12 col-md-6 col-lg-4">
		        <div class="card" style="width: 18rem;">
		            <img class="card-img-top" src="https://picsum.photos/200/100" alt="IMg clientes">
		            <div class="card-body">
			            <p class="card-text">Gestionar Repartidores</p>
			            <p class="card-text">Crear,Editar,Borrar</p>
			            <a href="/admin/consultarRepartidores" class="btn btn-primary">Ir a Repartidores</a>
		            </div>
		        </div>
		    </div>
		</div>
	</div>


	</section>


</body>


</html>
