<!DOCTYPE html>

<!-- Definimos la pagina esta como un layout -->

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">layout_definition_page</title>
	<meta charset="UTF-8"/>
	
	
</head>
<body>

	<!-- ponemos las partes como nos da la gana
 		sin poner layout:fragment="X"> en ninguno
 		
 		y ya.
	 -->

	<header >
		<h1>HEADDDDDDDDDDDDDDDDD</h1>
	</header>

	<footer>	
		<p>------ESTO ES EL FOOTER (CONTENT)--------</p>
		<p>Estoy aqui dandolo todo PPPPPP </p>
		<p>Prueba varia </p>
		<p>This is some footer content from content page 1</p>
		<p>-----AQUI TERMINAMOS---------</p>
		
		<p layout:fragment="custom-footer">Your custom footer here</p>
	</footer>
		
	
</body>

</html>