:root{
    --padding:1rem;
    --large_padding:4rem;
}

h1,h2,button,a,.retoque-tabla{
	padding-top:var(--padding);
	padding-bottom:var(--padding);
}

.retoque-tabla{
	width:80vw;
	overflow: scroll;

/*
	Es para que el scrollbar no se vea
	pero se pueda usar
	(no como overflow:hidden que lo inabilita)
	Pero estos lo inabilitan tambien.
  
  -ms-overflow-style: none;  --> IE and Edge 
  scrollbar-width: none; --> Firefox 
*/	
}


@media(min-width:1000px){
	.retoque-tabla{
		width:100%;
	}
}