<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/layout_general">

<head> 
    <title>Login</title> 
</head>
<body>
 	
 	<section layout:fragment="custom-content" >
  		
		  <div>
		    <div>
		      <div>
		      	<h1>Repartidores 3</h1>
		      </div>
		      <div>
		        <form action="#" th:action="@{/login}" th:object="${datos_introducidos}" method="post">
		          <!-- Email input -->
		          <div>
		            <input type="text" id="username" name="username" required />
		            <label for="username">Username</label>
		          </div>
		
		          <!-- Password input -->
		          <div>
		            <input type="password" id="password" name="password" required
				               autocomplete="new-password">
		            <label for="password">Password</label>
		          </div>
		
		
		          <!-- Submit button -->
		          <button type="submit" value="Log In">Sign in</button>
					
					<div>
					   	<p>Don't have an account? 
					   		<a href="/register2">Register here</a>
					   	</p>
			  		</div>  
		                          
		        </form>
		      </div>      
		    </div>		    
		  </div>

	</section>
  		
</body>
</html>
