<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/general/layout_general">

<head> 
    <title>Login</title> 
</head>
<body>
 	
 	<section layout:fragment="custom-content" class="document__content vh-100">
  		
		  <div class="container py-5 h-100">
		    <div class="row d-flex align-items-center justify-content-center h-100">
		      <div class="col-md-8 col-lg-7 col-xl-6">
		      	<h1>Repartidores 3</h1>
		        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
		          class="img-fluid" alt="Phone image">
		      </div>
		      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
		        <form action="#" th:action="@{/login}" th:object="${datos_introducidos}" method="post">
		          <!-- Email input -->
		          <div class="form-outline mb-4">
		            <input type="text" id="username" name="username" required class="form-control form-control-lg" />
		            <label class="form-label" for="username">Username</label>
		          </div>
		
		          <!-- Password input -->
		          <div class="form-outline mb-4">
		            <input type="password" class="form-control form-control-lg" id="password" name="password" required
				               autocomplete="new-password">
		            <label class="form-label" for="password">Password</label>
		          </div>
		
		
		          <!-- Submit button -->
		          <button type="submit" class="btn btn-primary " value="Log In">Sign in</button>
					
					<div class="form-outline mb-4">
					   	<p class="mb-5 pb-lg-2">Don't have an account? 
					   		<a href="/register2" style="color: #393f81;">Register here</a>
					   	</p>
			  		</div>  
		                          
		        </form>
		      </div>      
		    </div>		    
		  </div>

	</section>
  		
</body>
</html>
