<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/clientes/layout_cliente">

<head> 
    <title>Entrada</title> 
    <link rel="stylesheet" type="text/css" href="#" th:href="@{/css/retoques.css}">
</head>
<body>
    <p th:text="'EL CLIENTE se queja desde esta ventana'" />
    
    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    </header>
    
       
   <section layout:fragment="custom-content" class="document__content">
  			<!-- aqui escribimos todo lo que va en el contenido -->
  			<div class="actions__buttons">

                <div>
                	<form action="#" th:action="@{/cliente/procesarAcciones}" method="post">
	        			<button id="realizar_pedido" type="submit" name="action" value="hacer_pedido" class="btn btn-success">Realizar Pedido</button>
	        		</form>
                </div>

            </div>

            <div class="contenido__pedidos">
                <h2>Pedidos Realizados</h2>

 				<form action="#" th:action="@{/cliente/procesarAcciones}" th:object="${pedido}" method="post">
	                <div class="retoque-tabla">
		                <table class="table table-hover">
		                    <thead>
		                        <tr>
		                            <td>Fecha de Pedido</td>
		                            <td>Observaciones_para_Repartidor</td>
		                            <td>Estado_del_Pedido</td>
		                            <td></td>
		                            <td></td>
		                        </tr>
		                    </thead>
		                    <tbody>
		                   		<tr th:each="pedido : ${listaPedidos}" class="pedido">
			                   		<td th:text="${pedido.fechaPedido}"></td> 
	                                <td th:text="${pedido.observaciones}"></td> 
	                                <td th:text="${pedido.estadoPedido}"></td> 
	                                <td class="">
	                         	       <button type="submit" name="action" th:value="'ver/'+${pedido.id}" class="btn btn-info">Ver</button>
	                                </td>
	                                <td>
	                                	<div th:switch="${pedido.queja==null}">
	    									<div th:case="true" class="col-sm order-last">
	                                			<button type="submit" name="action" th:value="'queja/'+${pedido.id}" class="btn btn-danger">Queja</button>
	                              		     </div>
	                         			</div>
	                              	</td>
			                      </tr>
		                    </tbody>
		                </table>
		        	</div>
	        	</form>
            </div>
        </section>
    </body>
</html>