<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/aaa_layouts/clientes/layout_cliente">
<head> 
    <title>Nueva queja</title> 
</head>
	
<body>

    <p th:text="'EL CLIENTE se queja desde esta ventana'" />
    
    <header layout:fragment="header">
    	<p> Por si falla el nav </p>
    </header>
    
       
   <section layout:fragment="custom-content" class="document__content">

		<h1 class="text-center">Registro de Queja de pedido</h1>
	
		<form method="post" action="#" th:action="'/cliente/terminarQueja/'+ ${id_pedido}" th:object="${queja}" autocomplete="off">
		    <div class="form-group">
	       		<input hidden type="text" th:field="*{id}" />
	       		<input hidden type="text" th:field="*{fechaQueja}"/>	       		
		    </div>
		      
		    <div class="form-group">
			  	<label>Categoria de Queja</label>
			      
			    <select name="clasificacion">
		      		<option value="default">Selecciona categoria</option>
		    		<option th:each="actual: ${tiposQuejas}" 
		    		th:value="${actual}"
		    		th:text="${actual}"/>
		        </select>   
		  	</div>


			<div class="form-group">
			 	<label for="razones">Razones de la queja: </label>

				<textarea id="razones" class="form-control z-depth-1" rows="5" cols="33" name="razones"></textarea>
			</div>	  
				
			<button type="submit" class="btn btn-primary " name="action"  value="realizar_queja">Realizar Queja</button>
		
		</form>

	</section>
	
</body>
</html>